body{
    background-color: black;
    color:white;
    margin:0;
}

.upper-box{
    background-image: url(./images/Gemini_1.png);
    opacity: 0.9;
    height: 100vh;
}
.navbar{
    position: fixed;
    margin:0 11% 0 11%;
    height: 1%;
}
.navbar1{
    width:40%;
    height: 10%;
}
#logo-img{
    width: 30%;
    padding-top:0px;
}
.navbar2{
    width:60%;
    display:flex;
    padding-left: 40%;
    margin-top:2%;
}
.navselect{
    margin-right: 5%;
}
.front{
    text-align:center;
    margin: 15% 0 0 0;
}
.hclass{
    padding-top:1%;
}
.title{
    font-weight: 900;
    font-size:200px;
}
.mailinput{
    padding:5px 100px 9px 1%;
}
/* .nav2{
    height: 50px;
    width:100%;
    background-color: black;
} */

.middle-box{
    background-color: black;
    padding-top:50px;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:20px;
    color:white;
}
/* .tranding{
    margin-top:20px;
    margin-bottom: 100px;
} */
.cards{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top:20px;
}
.card{
    width:100%;
    margin-left:15px;
    transition: 0.75s;
}
.card:hover{
    transform: translateY(-15px);
    box-shadow:0.5px 0.5px 20px #888888;
}
.img{
    width:100%;
}
.option-box{
    display: flex;
    margin-top:30px;
}
.options{
    margin-top:50px;
}
.option{
    width:100%;
    /* border:1px solid black; */
    border-radius: 5px;
    margin-left:0.5%;
    margin-right:0.5%;
    background-color:rgb(47, 42, 115);
    padding-left:2%;
    padding-top:2%;
    color:white;
}
.optopn-image{
    width:20%;
    position: relative;
    top:13%;
    left:75%;
}
.im-a{
    position:relative;
    top:3%;
}
.im-d{
    position: relative;
    top:0%;
}
.Frequently-asked {
    padding-top:10px;
    margin-top:50px;
}
.asked{
    margin-top:30px;
    padding-left:2%;
    padding-right:2%;
}
.btn1{
    color:white;
    width: 100%;
    height:80px;
    text-align: left;
    padding:10px 30px 10px 30px;
    margin:5px 5px 5px 5px;
    background-color: #232323;
    border:none;
}
.readyto{
    margin-top:5%;
    margin-bottom:10%;
    padding:10px;
    padding-left:10%;
    padding-right:10%;
    text-align: center;
}
.readytoinput{
    padding-left: 2%;
    margin-top:5px;
    width:55%;
    height: 50px;
    background-color: #121212;
    border:1px solid rgb(255,255,255,0.5);
}
.readytobtn{
    height:50px;
    margin-left:1%;
}